<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Work Watch" %}

{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>The Work Watch</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Shrug.jpeg') }}" alt="What?" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is "Work Watch?"</h5>
                    <p class="card-text">
                        The "Work Watch" is a customizable timer program which helps you balance your work and stress.
                        Often, it feels as if you're stuck toiling away at assignments, watching as the clock ticks later and later while you hardly seem to make any progress.
                        As a <a href="https://www.sciencedirect.com/science/article/abs/pii/S0010027710002994?via%3Dihub">2011 study</a> proved, working for long periods of time without breaks can hinder your ability to output high-quality work.
                        For students especially, as Laurie Santos covered in her speech <a href="https://www.youtube.com/watch?v=ZizdB0TgAVM">"Psychology and the Good Life,"</a> many feel that they do not have time to spend time doing things that actually supplement their learning like reading and exercising.
                        During scheduled break time, students can spend time on these ideal activities while actively improving their output.
                        The "Work Watch" helps you by telling you when to take these breaks, suggesting what you do during these breaks, and isolating the user from the ticking timer to promote focus on the tasks at hand.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/featured-image.jpg') }}" alt="Features" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Features of "Work Watch"</h5>
                    <p class="card-text">
                        <ol>
                            <li>Create timers that run in the background of a work session, notifying you when to take breaks based on the length of the task.</li>
                            <li>Input the anticipated duration of your tasks as well as the title of your tasks to ensure that you stay organized.</li>
                            <li>Suggest beneficial, personalized activities to complete during a break.</li>
                            <li>Receive time-based notifications at customizable intervals to tell you roughly how much progress you should have made by certain points in time.</li>
                            <li>Reflect on your use of time and your productivity with automated work summaries.</li>
                            <li>Interact with "Work Watch" with Game Mode, which gives you EXP points for being productive that can be spent to further customize "Work Watch".*</li>
                        </ol>
                        *Bonus feature which will be added based on user feedback.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/thewatcherslogo.png') }}" alt="The Watchers" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who is making "Work Watch"?</h5>
                    <p class="card-text">
                        We're called "The Watchers"...because we're making "Work Watch".
                        This is a team made up of Drew Reed, Devon Shepherd, Trent Cardall and Jagger Klein.
                        For more information about our roles, our work process, the purpose of this program, and the anticipated code behind it, click the button below.
                        Expect more information (including progress reports) in the near future!
                    </p>
                    <a href="https://drewreed2005.github.io/realdrew/wwinfo/" class="btn btn-primary">More Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}
